#Importing the libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#Reading the dataset

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/NetzwerkPriyanka8/ML_April/main/Projects/Gradient_Boosting/Advertising_data.csv')
dataset.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   2210
1   44.5   39.3       45.1   1040
2   17.2   45.9       69.3    930
3  151.5   41.3       58.5   1850
4  180.8   10.8       58.4   1290

#Initiating the variables

In [ ]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

#Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

#Training & Testing the model using Gradient boosting

In [ ]:
from sklearn.ensemble import  GradientBoostingRegressor
gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)
#Testing
y_pred = gbr.predict(X_test)
y_pred

array([1044.41678813,  903.38895866,  947.04725106, 2537.87056247,
       1200.80166975,  910.27063664,  783.74861222, 1267.13019386,
        921.13042736, 1647.03285696, 2450.63941204, 1057.1588216 ,
       1084.27244681, 1533.94274266, 1171.89412841, 1241.33052156,
       1647.08915398,  630.59957576, 1385.71328549, 1708.49107108,
       2513.51618625, 1043.52711956, 1597.15446691, 1308.09187611,
        872.74086137, 1475.36623115, 1387.3000521 , 2158.5551425 ,
       1120.28712068,  812.49368544, 1165.11284325, 2269.49406035,
       1574.32615423, 2308.47583407,  570.33737023,  650.87984906,
        984.37492768, 1445.14451315, 1227.83406366,  742.99020759])

#Accuracy finding
#calculating the R squared value

In [ ]:
from sklearn.metrics import  r2_score
r2_score(y_test, y_pred)

0.9674460883303824